{% extends 'base.html.twig' %}

{% block title %}
	Admin
{% endblock %}

{% block body %}
	<div class="flex flex-wrap h-screen">
		{% include 'admin/sidebar.html.twig' %}
        <div class="w-10/12 md:w-9/12 p-1 bg-white dark:bg-slate-600 flex flex-wrap {% block contentClasses %}{% endblock %}">
            {# {% include 'admin/navbar.html.twig' %} #}
			{% block content %}{% endblock %}
        </div>
	</div>
{% endblock %}
