<div class="w-full -mt-1 -ml-1 flex items-center justify-center h-16 border-b dark:border-slate-950 dark:bg-slate-800">
	<span class="font-bold text-gray-800 hidden md:block dark:text-white">Circuit Management</span>
	<i class="fa-solid fa-flag-checkered fa-2x block md:hidden dark:text-white"></i>
</div>
