{% extends 'admin/base.html.twig' %}

{% block title %}Tipo incidente
{% endblock %}

{% block content %}
	<div class="w-full overflow-hidden flex flex-col flex-wrap px-4 py-8 gap-12">
		<h1 class="text-3xl font-semibold dark:text-white">Ver tipo incidente</h1>
		<div class="w-full overflow-hidden rounded-lg border border-gray-200 shadow-lg bg-gray-50 px-4 py-8 flex flex-col">
			<div class="flex justify-between gap-4">
				<a href="{{ path('app_tipo_incidente_edit', {'id': tipo_incidente.id}) }}" class="text-blue-500 hover:bg-blue-500 hover:text-white border border-blue-500 font-bold py-2 px-4 rounded w-24 text-center duration-300">Editar</a>
				{{ include('admin/tipo_incidente/_delete_form.html.twig') }}
			</div>
			<div class="flex flex-col gap-2 p-4">
				<p>Nombre</p>
				<p class="rounded border border-gray-300 p-2">{{ tipo_incidente.nombre }}</p>
			</div>
		</div>
		<a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-44 text-center duration-300" href="{{ path('app_tipo_incidente_index') }}">Volver a la lista</a>

	</div>

{% endblock %}
