{% extends 'base.html.twig' %}

{% block title %}Edit Incidente{% endblock %}

{% block body %}
    <h1>Edit Incidente</h1>

    {{ include('incidente/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_incidente_index') }}">back to list</a>

    {{ include('incidente/_delete_form.html.twig') }}
{% endblock %}
