{% extends 'admin/base.html.twig' %}

{% block title %}Nueva reserva
{% endblock %}

{% block content %}
	<div class="w-full overflow-hidden flex flex-col flex-wrap px-4 py-8 gap-12">
		<h1 class="text-3xl font-semibold dark:text-white">Introducir una nueva reserva</h1>


		{{ include('admin/reserva/_form.html.twig') }}

		<a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-44 text-center duration-300" href="{{ path('app_reserva_index') }}">Volver a la lista</a>
	</div>
{% endblock %}
